@model IEnumerable<JocoFoodMenuService.Models.MenuCreator>

@{
    ViewData["Title"] = "Index";
}

<p class="display-4">
    Created menu list
</p>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary rounded-pill">Create a new menu of the day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning rounded-pill">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-pill">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
