@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <p class="display-4">Welcome</p>
    <p class="h4 font-weight-light">Joco's management menues it's a simple way to management your food menues</p>
</div>
<p class="text-center" style="margin-top:10%">
    <a asp-action="Create" asp-controller="MenuCreators" class="btn purple-gradient btn-lg rounded-pill">Get started!</a>
</p>

@section Scripts{

} 