
@using (Html.BeginForm("Privacy"))
{
    <div class="form-group form-inline">
        <input id="inputRow" type="text" name="name" class="form-control col-md-3" placeholder="Input rows" />
        <button id="btnRow" class="ml-3 btn btn-outline-dark">Add row</button>
        <button type="submit" class="btn btn-success rounded-pill ml-auto">Submit</button>
    </div>

    <table class="table">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr id="row">
            <td><input type="text" name="Key" value="" class="form-control" /></td>
            <td><input type="text" name="Value" value="" class="form-control" /></td>
        </tr>
    </table>

}